<section class="row">
    <div class="col-md-12">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-pause="false">
            <!-- Wrapper for carousel items -->
             <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/images/carslide1.jpeg" alt="" class="d-block w-100" alt="slide 1" height="400">

                </div>
                <div class="carousel-item active">
                    <img src="../static/images/carslide2.jpeg" alt="" class="d-block w-100" alt="slide 2" height="400">
                    
                </div>
                <div class="carousel-item active">
                    <img src="../static/images/carslide3.jpeg" alt="" class="d-block w-100" alt="slide 3" height="400">
                    
                </div>
               
             </div>
             <!-- controls -->
              <!-- carousel controls -->
               <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
               </a>
               <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
               </a>
        </div>
    </div>
</section>