<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/lightslider.css">

    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/lightslider.js"></script>
    <script src="/static/js/script.js"></script>

</head>
<body>
    <div class="container-fluid">

        {% include 'navbar.html' %}

        <br>

        {% include 'carousel.html' %}

        <br>

    </div>
    <br>

    <h1>offers</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae maiores temporibus, sed praesentium repellendus eum cumque non consectetur illo deserunt!</p>
    <section class="slider">
        <ul class="autowidth cs-hidden">
            {% for row in cars %}
            <li>
                <div class="box">
                    <!-- images -->
                     <div class="slide-img">
                        <img src="../static/images/{{ row[-1] }}"  alt="" width="50%">
                        <div class="overlay"
                        > <a href="/" class="buy-btn">BUY NOW</a></div>
                     </div>
                     <!-- product name
                       -->
                     <div class="detail-box">
                        {{ row[1] }}
                        <br>
                        <b class="text-warning">KES: {{ row[3] }}</b>
                     </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        
    </section>
    <br>

    {% include 'footer.html' %}
    
    <br>
    
    
</body>
</html>